<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TrafficFunnelConversionAnalysisDao">
    <select id="getTrafficFunnelConversionAnalysis" resultType="com.example.bean.TrafficFunnelConversionAnalysis">
        SELECT name, value, rate FROM traffic_funnel_conversion_analysis;
    </select>
</mapper>